<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqECXRFw2Aj2YNtKaKP6132aCt0vbOAvY</string>
	<key>GCM_SENDER_ID</key>
	<string>1095757226336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clap.pause</string>
	<key>PROJECT_ID</key>
	<string>pause-da10e</string>
	<key>STORAGE_BUCKET</key>
	<string>pause-da10e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095757226336:ios:b4610253d5c090b89b3e05</string>
</dict>
</plist>